# Ignorar control de versiones y caches
.git
.cache

# Ignorar dependencias locales (npm instalará dentro del contenedor)
node_modules

# Ignorar logs
*.log

# Ignorar archivos compilados Java (si los hay)
**/*.class

# Ignorar archivos markdown excepto los README importantes
*.md
!README*.md
