<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
   
<style>

    #card{
  padding: auto;
  margin-top: 12px;
        width: 300px;
        height: 200px;
        background-color: rgba(30, 94, 72, 0.425);
    }
</style>
<div id="card">

    <h1>404 not found</h1> <img src="https://icons.iconarchive.com/icons/fatcow/farm-fresh/32/http-status-not-found-icon.png" >
</div>


</body>
</html>